.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name {
    color: brown;
    font-weight: 400;
}
.cart-button{
    background-color: gold;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}