.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 35px;
    font-size: large;
    text-align: left;
    
}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    
}
nav a:hover{
    background-color: gray;
}